/*      CSS       */
*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(10176827.jpg);
  background-size: cover;
  background-position: 0 -100px;
  font-family: "Protest Riot";
}


.button {
  width: 550px;
  margin: auto;
}

.text {
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

ul {
  display: flex;
  justify-content: center;
}

.dived {
  text-align: center;
  margin:  125px 25px 0 25px;
  padding: 25px;
  background-color: lightcyan;
  border-radius: 15px;
  border: 5px lightcyan solid;
}

#yes a {
  text-decoration: none;
  color: white ;
}

#yes:hover {
  background-color: pink;
  border: 5px white solid;
}

#no:hover {
  background-color: red;
  border: 5px white solid;
}
